div.wy-side-nav-search {
    background: #FFFFFF;
    padding: 0px;
}

div.wy-side-nav-search .version {
    color: #404040;
    font-weight: bold;
}


span.caption-text {
    color: #404040;
}

div.wy-menu .caption-text {
    color: #a054d8;
}