name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: True

jobs:
    test:
        name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                include:
                    - os: ubuntu-latest
                      python-version: "3.9"
                      envfile: ".github/environment-ci.yml"
                      channel-priority: "strict"

                    - os: ubuntu-latest
                      python-version: "3.10"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

                    - os: ubuntu-latest
                      python-version: "3.11"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

                    - os: ubuntu-latest
                      python-version: "3.12"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

                    - os: macos-latest
                      python-version: "3.10"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

                    - os: macos-latest
                      python-version: "3.11"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

                    - os: macos-latest
                      python-version: "3.12"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

        steps:
        - uses: actions/checkout@v4
          with:
            submodules: true

        - name: Install OS dependencies
          shell: bash -l {0}
          run: |
            case "${{ runner.os }}" in
            Linux)
              sudo apt-get update -yy
              sudo apt-get install -yy wget libsndfile-dev libsox-fmt-mp3 ffmpeg zip
              ;; 
            macOS)
              brew install libsamplerate wget libsndfile sox ffmpeg zip
              ;;
            esac

        - name: Cache conda
          uses: actions/cache@v4
          env:
            CACHE_NUMBER: 2      
          with:
            path: ~/conda_pkgs_dir
            key: ${{ runner.os }}-${{ matrix.python-version }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles( matrix.envfile ) }}
            restore-keys: |
              ${{ runner.os }}-${{ matrix.python-version }}-conda-${{ env.CACHE_NUMBER }}-
              ${{ runner.os }}-${{ matrix.python-version }}-conda-
              ${{ runner.os }}-conda-
              
        - name: Setup conda
          uses: conda-incubator/setup-miniconda@v3
          with:
            miniforge-variant: Miniforge3  
            miniforge-version: latest
            channel-priority: ${{ matrix.channel-priority }}
            activate-environment: test
            auto-update-conda: false
            python-version: ${{ matrix.python-version }}
            use-only-tar-bz2: false

        - name: Install conda dependencies
          run: mamba env update -n test -f ${{ matrix.envfile }}
          if: steps.cache.outputs.cache-hit != 'true'

        - name: Conda info
          shell: bash -l {0}
          run: |
            conda info -a
            conda list

        - name: Run pytest
          shell: bash -l {0}
          run: pytest -n auto -vv --cov-report term-missing --cov-report=xml --cov=mirdata tests

        - name: Upload coverage to Codecov
          uses: codecov/codecov-action@v4
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
            files: ./coverage.xml
            directory: ./coverage/reports/
            flags: unittests
            env_vars: OS,PYTHON
            name: codecov-umbrella
            fail_ci_if_error: true
            verbose: true